<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layoutNoSession :: head">
  </head>
  <head>
    	<meta charset="UTF-8">
      	<link rel="stylesheet" th:href="@{css/styleIndexSession.css}">
  </head>
  <body>
	<div th:replace="layoutSession :: header"></div>
    <div class="main-content">
    	<pre>
    	Bonjour
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
    	
 
    	</pre>
    </div> 
											

	<div th:replace="layoutSession :: footer"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>