
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/temp.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <link th:rel="stylesheet"
          th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" >

    <title th:text="#{header.app.title}"></title>
</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="/products">E-SHOP</a>
              <ul  class="navbar-nav ml-auto">
                    <li class="navbar-text"  sec:authorize="isAuthenticated()">Logged AS</li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{admin}"  th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                        <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" th:href="@{user}"  th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                    </li>
                  <li class="nav-item" >
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item" >
                      <a class="nav-link" href="/">Services</a>
                  </li>
                  <li class="nav-item" >
                      <a class="nav-link" href="/">Help</a>
                  </li>


                  <li class="nav-item">
                      <a class="nav-link" href="">Contact</a>
                  </li>

                  <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{logout}">Log out</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{login}">Log in</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{cart}"><img id="cart" th:src="@{/img/cart.png}" width="50"></a>
                    </li>
                    <form class="d-flex" method="get" th:action="@{products}">
                        <input class="form-control me-2" name="keyword"
                               th:value="${keyword}"type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </ul>
    </nav>
</div>

</body>

</html>
