<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>
<div class="container mt-20">
    <form method="get" th:action="@{adminisproducts}">
        <div class="align-content-center">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="keyword"
                   th:value="${keyword}"/>
            <button class="btn btn-success">Search</button>
        </div>
    </form>
</div>


    <a class="btn btn-lg btn-outline-info btn-block"
       th:href="@{produitAdd}">Enregistrer un produit</a>

    <table class="table table-striped">
        <tr>
            <td>Image</td>
            <td>Quantité</td>
            <td>Designation</td>
            <td>Description</td>
            <td>Category</td>
            <td>Prix</td>
            <td>Marque</td>
        </tr>
        <tr th:each="product: ${products}">
            <td th:inline="text">
                <div class="user">
                    <img th:src="${'/images/'+product.name}" width="50">
                </div>
            </td>

            <td th:text="${product.qty}"></td>
            <td th:text="${product.design}"></td>
            <td th:text="${product.desc}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.prix}"></td>
            <td th:text="${product.marque}"></td>


            <td>
                <a onclick="return confirm ('Are you sure to delete')"
                   class="btn btn-danger"
                   th:href="@{suppression(id=${product.id}, keyword=${keyword}, page=${curentpage}, size=${size})}">Delete</a>
            </td>

            </td>
            <td>
                <a onclick="return confirm ('Etes vous Sûr?')"

                   class="btn btn-lg btn-outline-info btn-block"
                   th:href="@{produitAdd}">Enregistrer un produit</a>
            </td>

            <td>
                <a th:href="@{Edition(id=${product.id})}"
                   class="btn btn-warning btn-sm px-3"><i class="fas fa-pencil-alt text-dark me-2"
                                                          aria-hidden="true"></i>Editer</a>

            </td>
        </tr>
    </table>
    <ul class="nav nav-pills">
        <li th:each="page, status:${pages}"><a
                th:class="${status.index==currentPage? 'btn btn-primary':'btn'
						}"
                th:href="@{adminisproducts(page=${status.index},keyword=${keyword},size=${size})}"
                th:text="${status.index}"></a></li>
    </ul>
</div>
</div>
</div>

</div>

</body>
</html>
