<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/temp.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

<body>
<div class="container mt-20">
    <div class="card">
        <div class="card-header">Liste des Achats</div>
        <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Designation</th>
                        <th>Quantitychoosen</th>
                        <th>Prix</th>

                    </tr>
                    <tr th:each="product : ${products.entrySet()}">
                        <td th:text="${product.getKey().getDesign()}"></td>
                        <td th:text="${product.getValue()}"></td>
                        <td th:text="${product.getKey().getPrix()}"></td>
                        <td>
                        <a onclick="return confirm('Etes vous Sûr?')"
                           th:href="@{'/cart/remove/{id}'(id=${product.getKey().getId()})}"
                         class="btn btn-danger btn-sm px-3"><i class="far fa-trash-alt me-2"></i>Delete</a>
                        </td>

                    </tr>
                </table>
            <div class="form-group">
                <label>TOTALAMOUNT:</label> <strong><label
                 th:text=${totalPrice}>
                </label></strong>
            </div>
            <td></td>
            <a onclick="return confirm('Etes vous Sûr?')"
            th:href="@{'/cart/clear/'}"
               class="btn btn-danger btn-sm px-3"><i class="far fa-trash-alt me-2"></i>clear</a>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
