<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>


<div class="container">

    <div class="row">
        <div class="col-md-4" th:each="product: ${products}">
            <figure class="card card-product-grid card-lg">
                <a href="#" class="img-wrap" data-abc="true"><img
                        th:src="${'/images/'+product.name}" width="350"/></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"><a href="#" class="title" data-abc="true"><strong
                                th:text=${product.design}></strong></a></div>
                        <div class="col-md-4">
                            <div class="rating text-right"><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </figcaption>
                <div class="card-footer">
                    <p th:text="${product.getPrix()}"></p>
                    <a th:href="@{details(id=${product.id})}" class="btn btn-lg btn-outline-info btn-block">J'Achete

                        </a>
                </div>


            </figure>
        </div>
    </div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>

