<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>


<div class="container">
    <form method="get" th:action="@{products}">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="keyword"
                   th:value="${keyword}"/>
            <button class="btn btn-success">Search</button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4" th:each="product: ${products}">
            <figure class="card card-product-grid card-lg">
                <a href="#" class="img-wrap" data-abc="true"><img
                        th:src="${'/images/'+product.name}" width="350"/></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"><a href="#" class="title" data-abc="true"><strong
                                th:text=${product.design}></strong></a></div>
                        <div class="col-md-4">
                            <div class="rating text-right"><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap">
                    <a th:href="${'/cart/add/' + product.getId()}" class="btn btn-primary float-right"
                       data-abc="true"> Buy now </a>
                    <div class="price-wrap"><span th:text=${product.prix} class="price h5"></span> <br> <small
                            class="text-success">Free shipping</small></div>
                </div>

            </figure>
        </div>
    </div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
