<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1 .0">

<link rel="stylesheet" type="text/css" href="/css/ft.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.7.2/css/all.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head th:replace="fragments/header :: header-css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="wrapper bg-white">
    <div class="h2 text-center">Creativity</div>
    <div class="h2 text-center">Contest</div>
    <div class="h5 font-weight-bold">Registration</div>
    <div class="text-muted">Enter your registration details</div>
    <form class="form-signin" autocomplete="off" th:action="@{register}" th:object="${userForm}" method="POST">

        <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1">
            <div class="form-group"><label class="text-muted mandatory">UserName</label> <input type="text"
                                                                                                name="username" required
                                                                                                class="form-control">
            </div>
            <div class="form-group"><label class="text-muted mandatory">Email Address</label> <input type="email"
                                                                                                     name="email"
                                                                                                     required
                                                                                                     class="form-control">
            </div>
        </div>
        <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1">
            <div class="form-group">
                <div><label class="text-muted mandatory">Gender</label></div>
                <div class="form-group"><label class="text-muted">Gender</label> <input type="text" name="gender"
                                                                                        class="form-control"></div>

            </div>
            <div class="form-group"><label class="text-muted">Date of Birth</label> <input type="text" name="age"
                                                                                           class="form-control"></div>
        </div>
        <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1">
            <div class="form-group"><label class="text-muted mandatory">My Name</label> <input type="text" name="name"
                                                                                               required
                                                                                               class="form-control">
            </div>
            <div class="form-group"><label class="text-muted">City</label> <input type="text" name="city"
                                                                                  class="form-control"></div>
        </div>
        <div class="form-group"><label class="text-muted mandatory">Password</label> <input type="password"
                                                                                            name="password" required
                                                                                            class="form-control"></div>
        <div class="form-group"><label class="text-muted mandatory">Confirm_Password</label> <input type="password"
                                                                                            name="passwordConfirm" required
                                                                                            class="form-control"></div>

        <div class="d-flex align-items-center justify-content-sm-end button-section">
            <button class="btn btn-primary mx-4" type="submit">Submit</button>
            <button class="btn">Cancel</button>
        </div>
    </form>
</div>
</body>

</html>
