
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">/
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- CSS Personal -->
    <link rel="stylesheet" href="/css/Layout.css">
    <!-- Icons and Log -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>ACCUEIL, Smartchip_Computers_Inc</title>
    <link rel="icon" th:href="@{img/shopping-cart-309592.png}">
</head>
<body>
<!-- Header -->
<header class="header" th:fragment="header" style="background: white">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- Top Bar -->
    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row">
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>+221 77 361 69 69 </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt=""></div><a href="mailto:fastsales@gmail.com">info@smartchip.com</a>
                    </div>
                    <div class="top_bar_contact_item" style="margin-left: 10%">
                        <div>
                            <a href="" class="me-4 text-reset"> <i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;
                            &nbsp;&nbsp;<a href="" class="me-4 text-reset"> <i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
                            &nbsp;&nbsp;<a href="" class="me-4 text-reset"> <i class="fab fa-google"></i></a>&nbsp;&nbsp;
                            &nbsp;&nbsp;<a href="" class="me-4 text-reset"> <i class="fab fa-instagram"></i></a>&nbsp;&nbsp;
                            &nbsp;&nbsp;<a href="" class="me-4 text-reset"> <i class="fab fa-linkedin"></i></a>&nbsp;&nbsp;
                            &nbsp;&nbsp;<a href="" class="me-4 text-reset"> <i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="top_bar_contact_item" style="margin-left: 25%">
                        <div class="main_nav_menu" style="margin-left: -30%;">
                            <ul class="standard_dropdown main_nav_dropdown">

                                <div class="top_bar_user" sec:authorize="isAnonymous()" style="margin-left: 22%">
                                    <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                    <div><a href="/login">S'identifier</a></div>
                                    <div><a href="/registration">S'inscrire</a></div>
                                </div>
                                <li sec:authorize="isAuthenticated()" class="hassubs" style="margin-left: 20%">
                                    <div class="user_icon"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                                    <span style="font-weight: 400" sec:authentication="name"></span> <!-- sec:authentication="name" -->
                                    <ul style="background: #2F2F2F; opacity: 0.8">
                                        <li style="margin-left: -5%"><a th:href="@{/profile}" class="text-justify">Mon Profil<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -5%">
                                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                                <a href="#" onclick="document.forms['logoutForm'].submit()">Se deconnecter</a>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Header Main -->
    <div class="header_main">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="col-lg-2 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <a class="navbar-brand text-dark" th:href="@{/}">
                            <img style="width: 100%;height:100%;" id="logo" th:src="@{/img/shopping-cart-lg.png}" class="rounded float-left rounded-0" alt="shopping-cart-309592.png">
                        </a>
                    </div>
                </div> <!-- Search -->
                <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container">
                                <form class="header_search_form clearfix" th:action="@{/searchProduit}" method="get">
                                    <input type="search" required="required" name="keyword"  th:value="${keyword}"
                                           class="header_search_input" placeholder="Search for products...">
                                    <button type="submit" class="header_search_button trans_300" value="Submit">
                                        <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt="">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- Wishlist -->
                <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                    <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                        <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png" alt=""></div>
                            <div class="wishlist_content">
                                <div class="wishlist_text"><a href="#">vos favoris</a></div>
                                <div class="wishlist_count">10</div>
                            </div>
                        </div>
                        <!-- Cart -->
                        <div class="cart">
                            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                <div class="cart_icon"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="">
                                    <div class="cart_count"><span>0</span></div>
                                    <div sec:authorize="isAuthenticated()" class="cart_count"><span th:text="${#lists.size(cartItemList)}">0</span></div>
                                </div>
                                <div class="cart_content">
                                    <div class="cart_text"><a href="/shoppingCart/cart">Panier</a></div>
                                    <div sec:authorize="isAuthenticated()" class="cart_price" th:text="${#numbers.formatDecimal(shoppingCart.grandTotal, 0 , 'COMMA', 2, 'POINT')}+' F CFA'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Main Navigation -->
    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="main_nav_content d-flex flex-row">
                        <!-- Categories Menu -->
                        <!-- Main Nav Menu -->
                        <div class="main_nav_menu">
                            <ul class="standard_dropdown main_nav_dropdown">
                                <li class="hassubs" >
                                    <a style="color: black;"  th:href="@{/searchByCategory(category='Tous')}">Toutes Les Catégories</a>
                                    <ul style="width: auto;">
                                        <li style="margin-left: -40%;"><a th:href="@{/searchByCategory(category='Ordinateurs')}" >Ordinateurs</a></li>
                                        <li style="margin-left: -40%;"><a th:href="@{/searchByCategory(category='Imprimantes')}"> Imprimantes</a></li>
                                        <li style="margin-left: -40%;"><a th:href="@{/searchByCategory(category='Memoires')}"> Memoires</a></li>
                                        <li style="margin-left: -40%;"><a th:href="@{/searchByCategory(category='Cartes')}"> Cartes</a></li>
                                    </ul>
                                </li>
                                <li class="hassubs" > <a style="color: black;" href="#">Ordinateur<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li style="margin-left: -30%;"> <a href="#">Lenovo<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li style="margin-left: -30%;"><a href="#">Lenovo Bureau<i class="fas fa-chevron-down"></i></a></li>
                                                <li style="margin-left: -30%;"><a href="#">Lenovo Portable<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li style="margin-left: -30%;"> <a href="#">DELL<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li style="margin-left: -30%;"><a href="#">DELL Bureau<i class="fas fa-chevron-down"></i></a></li>
                                                <li style="margin-left: -30%;"><a href="#">DELL Portable<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li style="margin-left: -30%;"> <a href="#">MacBook<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li style="margin-left: -30%;"><a href="#">MacBook All in One<i class="fas fa-chevron-down"></i></a></li>
                                                <li style="margin-left: -30%;"><a href="#">MacBook Portable<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li style="margin-left: -30%;"><a href="#">HP<i class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="hassubs"> <a style="color: black;" href="#">Accessoires IT<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li style="margin-left: -30%;"> <a href="#">APPLE<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li style="margin-left: -30%;"><a href="#">Laptop<i class="fas fa-chevron-down"></i></a></li>
                                                <li style="margin-left: -30%;"><a href="#">Mobiles<i class="fas fa-chevron-down"></i></a></li>
                                                <li style="margin-left: -30%;"><a href="#">Ipads<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li style="margin-left: -30%;"><a href="#">Samsung<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -30%;"><a href="#">Lenovo<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -30%;"><a href="#">DELL<i class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="hassubs"> <a style="color: black;" href="#">Pages<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li style="margin-left: -30%;"><a href="/">Shop<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -30%;"><a href="/">Product<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -30%;"><a href="/">Blog<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -30%;"><a href="/">Blog Post<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -30%;"><a href="/">Regular Post<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -30%;"><a href="/cart">Cart<i class="fas fa-chevron-down"></i></a></li>
                                        <li style="margin-left: -30%;"><a href="/contact">Contact<i class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </li>
                                <li><a style="color: black;" href="/">Blog<i class="fas fa-chevron-down"></i></a></li>
                                <li><a style="color: black;" href="/contact">Contact<i class="fas fa-chevron-down"></i></a></li>
                            </ul>
                        </div> <!-- Menu Trigger -->
                        <div class="menu_trigger_container ml-auto">
                            <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                <div class="menu_burger">
                                    <div class="menu_trigger_text">menu</div>
                                    <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav> <!-- Menu -->
    <div class="page_menu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page_menu_content">
                        <div class="top_bar_user">
                            <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
                            <div class="main_nav_menu">
                                <ul class="standard_dropdown main_nav_dropdown">
                                    <li class="hassubs"> <a href="#"><span class="text-white" sec:authentication="name"></span><i class="fas fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="product.html">My Profile<i class="fas fa-chevron-down"></i></a></li>
                                            <li> <a onclick="document.forms['logoutForm'].submit()">Se deconnecter</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="page_menu_search">
                            <form action="#"> <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products..."> </form>
                        </div>
                        <ul class="page_menu_nav">
                            <li class="page_menu_item"> <a href="#">Home<i class="fa fa-angle-down"></i></a> </li>
                            <li class="page_menu_item has-children"> <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                                    <li class="page_menu_item has-children"> <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="page_menu_item has-children"> <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="page_menu_item has-children"> <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="page_menu_item"><a href="/">blog<i class="fa fa-angle-down"></i></a></li>
                            <li class="page_menu_item"><a href="/contact">contact<i class="fa fa-angle-down"></i></a></li>
                        </ul>
                        <div class="menu_contact">
                            <div class="menu_contact_item">
                                <div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570
                            </div>
                            <div class="menu_contact_item">
                                <div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" th:fragment="footer"> <br>
    <script src="https://kit.fontawesome.com/3e9d5b9e3a.js"></script>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>SMARTCHIP COMPUTERS INC
                    </h6>
                    <p>Smartchip Computers Inc. est un fournisseur californien de composants informatiques.</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p>
                        <a href="#!" class="text-reset">Catégorie</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Cart</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Commande</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>
                        <i class="fas fa-home me-3"></i> Californien, NY 10012, US
                    </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> info@smartchip.com
                    </p>
                    <p>
                        <i class="fas fa-phone me-3"></i> + 01 234 567 88
                    </p>
                    <p>
                        <i class="fas fa-print me-3"></i> + 01 234 567 89
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4"
         style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright: <a class="text-reset fw-bold"
                             target="blank" th:href="@{/admin}">Smartchip Computers Inc</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
-->
<script src="https://kit.fontawesome.com/3e9d5b9e3a.js"></script>
<script src="/js/scriptLayoutSession.js"></script>
</body>
</html>
